<header id="top" class="container header">
	<div class="row-fluid">
		<div class="col-md-12 col-sm-12 text-center" style="padding-right: 0px; padding-left: 0px;">
	   		<img src="img/portada/home.jpg" style="/*max-width: 90%;*/max-width: 100%;" class="image_full1"/>
	   		<img src="img/portada/home_mobile.jpg" style="max-width: 100%" class="image_mobile1"/>
	   	</div>
	</div>
	<p id="hora_real_servidor" hidden></p>
	<script>
	    function cambiar_hora_real_servidor () {
	      // Get todays date and time
	      var now = new Date();
	      document.getElementById("hora_real_servidor").innerHTML = now;
	    }

	    cambiar_hora_real_servidor();

	    // Update the count down every 1 second
	    var x_header = setInterval(function() {
	        cambiar_hora_real_servidor();
	    }, 1000);
  	</script>
</header>
