<section id="join-volunteers" class="volunteers">
    <div class="content-section-a">
        <div class="container">
            <div class="row text-center">
              <hr class="section-heading-spacer" style="border-top: 5px solid #4285f4; width: 300px;">
            </div>
            <div class="row text-center" style="margin-bottom: 15px;">
                <h2 style="text-align: left;">Voluntarias</h2>
            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">¿Quieres ser voluntaria en el evento Women Techmakers Zaragoza 2024?</p>
                    <p class="lead">Te necesitaremos el día del evento y la tarde previa para estar en ITA y ayudarnos a preparlo todo.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <a class="btn btn-dark btn-primary btn-lg" href="https://forms.gle/AWX5hvBTkCHibXE2A" target="_blank">
                        Rellena el formulario
                    </a>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
