<section id="tickets" style="background-image: url('img/portada/portada_color_liso.png'); background-size: 100% 550px; max-width: 100%; background-repeat: no-repeat; height: auto; padding-top: 20px; padding-bottom: 20px; color: #ffffff !important; font-size: 26px !important; font-weight: bold !important; ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <p class="lead_big" style="text-decoration: underline;">COMUNICADO OFICIAL</p>
        
        <div id="texto_entradas_proximamente_talleres" style="display: block;">
          <!-- Antes del dia de venta de entradas primera tanda -->
          <p class="lead_big">Entradas de talleres a la venta <br/>jueves 31 de octubre a las 10:00<br/></p>
          <p class="lead_big" style="margin-bottom: 0px !important;">¡No te quedes sin la tuya!</p>
        </div>


        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 col-sm-12">
            <a href="pdf/Comunicado_oficial_DANA.pdf" target="_blank" class="btn btn-dark btn-primary_white btn-lg" style="width: 100%;">
              Lee nuestro comunicado
            </a>
          </div>
        </div>

    </div>
    <!-- /.row -->
  </div>
  
  <!-- /.container -->
</section>
